body {
    margin: 0;
    background: #EEE;
}
 
h1 {
    color: #FFF;
}
 
#testContainer {
    position: absolute;
    top: 0;
    left: 0;
}
 
#swap {
    position: absolute;
    top: 18px;
    left: 630px;
    color: #000;
    font-size: 11px;
    font-family: sans-serif;
    text-decoration: none;
    border-bottom: 1px dashed #999;
}

#swap:hover {
    color: #333;
}