@font-face {
    font-family: 'Roboto Thin Italic';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Old Standard TT Italic';
    src: url('OldStandard-Italic-webfont.eot');
    src: url('OldStandard-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OldStandard-Italic-webfont.woff') format('woff'),
         url('OldStandard-Italic-webfont.ttf') format('truetype'),
         url('OldStandard-Italic-webfont.svg#OldStandardTTItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}